@using Obligatorio1;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Login</h1>

<form action="/usuario/login" method="post">
    <input type="email" name="email" placeholder="Ingrese mail" />
    <input type="password" name="password" placeholder="Ingrese password" />
    <button type="submit">Login</button>
</form>